@tailwind base;

@tailwind components;

@tailwind utilities;    

.img1{
    border: 1px solid lightblue;
    border-radius: 50px;
    height: 100px;
}

.friends{
    border: 1px solid lightblue;
    height: 40px;
}